html{scroll-behavior:smooth;}
h2{font-family:Helvetica}
header{
	height:120px;
	width:1843px;
	background-color:#2ADA10;
	padding: 30px;}
body{margin:0px;overflow-x:hidden;}
.menu{
	display: inline-block;
	vertical-align: top;
	margin-top: 10px;}
.elmenu{display: inline-block;
	padding: 20px;
	font-size: 22px;
	background-color:#2BC313;
	margin: 0px 25px 0px 50px;
	font-family:Helvetica;
	text-decoration:none;
	color:black;}
.zdes {background-color:#28AD14;}
footer{height: 100px;
	width: 1843px;
	background-color:#2ADA10;
	padding: 30px;
	vertical-align:bottom;}
main{height:1800px;
	width:1843px;
	background-image:url("./img/wood-texture_green.jpg");
	padding:30px;}
.proz1{background-color:#28AD14;
	width: 1225px;
	height:800px;
	padding:40px;
	margin: 0 auto;}
.cesarimg{width:550px;
	display: inline-block;
	margin: 10px;
	vertical-align: top;}
.cesar_chicken{width: 500px;
	line-height: 25px;
	font-size: 25px;
	font-family:Helvetica;}
.top{width:50px;
	height: 50px;}
.proz2{background-color:#28AD14;
	width: 1225px;
	height:800px;
	padding:40px;
	margin: 0 auto;}
.squidimg{width:550px;
	display: inline-block;
	margin: 10px;
	vertical-align: top;}
.salad_squid{width: 500px;
	line-height: 25px;
	font-size: 25px;
	font-family:Helvetica;}